:root {
    --main_bg: rgb(81, 77, 77);
    --bg1: rgb(203, 216, 214);
}

* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--main_bg);
    width: 100vw;
    margin: 0px;
}

/* Styles for the search box */
.search-box{
    display: flex;
    background-color: var(--bg1);
    justify-content: left;
    align-items: center;

    margin-top: 0px;
    height: 50px;
    width: 100vw;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
}

#search-inputbox {
    margin-left: 5px;
    width: 300px;
}

/* Styles for the watclist */
.watchlist{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    margin-top: 10px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
}

/* Styles for the sevenday-forecast */
.sevenday-forecast{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 700px;
    margin: 10px;
    flex-direction: row;
    border: 1px solid;
    border-color: black;
}

/* Styles for the styles for days 1-7 */
.sevenday{
    background-color: var(--bg1);
    height: 238px;
    width: 100px;
    margin: 0px;
    border: 1px solid black;
}

/* Styles for the day 1 */
.day1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, 1fr);
    overflow-y: scroll;

    background-color: var(--bg1);
    height: 238px;
    width: 100px;
    margin: 0px;
    border: 1px solid;
    border-color: black;
}

.hourly {
    padding: 10px;
    border-bottom: 1px solid;
    border-color: black;
}

.hour12 {
    border-bottom: none;
}

/* Styles for the day 2-7 container */
/* .flex-items {
    display: flex;
    height: 240px;
    width: 600px;
} */

/* Styles for the montly prediction */
.monthly-prediction{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 700px;
    margin: 10px;

    /* border changes */
    border: 2px solid;
    border-color: black;
    border-radius: 5%;
}

/* Styles for the radar */
.radar{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 600px;
    margin: 10px;
    border: 2px solid;
    border-color: black;
}

/* Styles for the natural diaster */
.naturaldisaster-tracker{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    margin: 10px;
    border: 2px solid;
    border-color: black;
}

/* Styles for the footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* Styles for the resesarch column */
.resources-column{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    height: 100px;
    width: 300px;
    margin: 10px;
    border: 2px solid;
    border-color: black;
}

/* Styles for the contact column*/
.additionalcontact-column{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    height: 100px;
    width: 300px;
    margin: 10px;
    border: 2px solid;
    border-color: black;
}